body{
    background-image: ("");
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}
#intro-image{
    float: right;
    height: 70vh;

}
.intro{
    margin: 15%;
}
.red{
    color: red;
}
.intro button{
    background-color: red;
    color: white;
    border: 2px solid red;
}
























