body{
    background-image: 
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro-image{
    float: right;
    height: 60vh;
}
.intro{
    margin: 15%;
}
.intro h1{
    color: red;
}
nav{
    float: left;
    padding-left: 200px;
    margin-right: 20px;
    font-size: 25px;
}
nav>ul>li{
    display: inline;
    padding-left: 20px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.profile{
    display: inline;
    margin-right: -800px;
    font-size: 25px;
}
. .profile >h1{font-size: 25px;
    font-style: italic;

}